In [11]:
#pip install pandas pyarrow

In [10]:
#pip install fastparquet

In [7]:
import pandas as pd

In [9]:
df = pd.read_parquet("elections.parquet", engine="fastparquet")

In [12]:
df

,azganun,anun,haeranun,or_amis_tari,marz,hamaenq,bnakavaer,hasce,taracq,texamas
0,Հարությունյան,Կարեն,Շաքարի,14/11/1997,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,None,Չարենցի Փ. 31 1,28,28/01
1,Աղաջանյան,Կարինե,Ժորայի,14/08/1964,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,None,Չարենցի Փ. 31 1,28,28/01
2,Հարությունյան,Հարություն,Շաքարի,29/10/1986,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,None,Չարենցի Փ. 31 1,28,28/01
3,Ալեքսանյան,Համեստ,Արսենի,24/10/1954,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,None,Չարենցի Փ. 26 71,28,28/01
4,Հարությունյան,Շաքար,Արտաշի,01/01/1959,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,None,Չարենցի Փ. 31 1,28,28/01
...,...,...,...,...,...,...,...,...,...,...
2577168,Շահվերդյան,Ալա,Աղասու,22/04/1987,ԼՈՌԻ,ՎԱՆԱՁՈՐ,None,1 Փ. 5 Փկղ. 8,23,23/58
2577169,Իսրաելյան,Կարինե,Վահանի,13/03/1960,ԼՈՌԻ,ԴԵԲԵԴ,None,6 Փ. 5,23,23/58
2577170,Գրիգորյան,Անահիտ,Հունանի,12/05/1970,ԼՈՌԻ,ՎԱՆԱՁՈՐ,None,Արճիս 5 Փ. 7 1,23,23/58
2577171,Սահակյան,Նարինե,Աշոտի,25/09/1978,ԼՈՌԻ,ՎԱՆԱՁՈՐ,None,Կ. Դեմիրճյան Փ. 26 22,23,23/58
2577172,Մկրտչյան,Գայանե,Գարուշի,24/04/1966,ԼՈՌԻ,ՎԱՆԱՁՈՐ,None,Տարոն 3 Քշհ 7 48 7,23,23/58

In [13]:
df.columns

Index(['azganun', 'anun', 'haeranun', 'or_amis_tari', 'marz', 'hamaenq',
       'bnakavaer', 'hasce', 'taracq', 'texamas'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577173 entries, 0 to 2577172
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   azganun       object
 1   anun          object
 2   haeranun      object
 3   or_amis_tari  object
 4   marz          object
 5   hamaenq       object
 6   bnakavaer     object
 7   hasce         object
 8   taracq        int64
 9   texamas       object
dtypes: int64(1), object(9)
memory usage: 196.6+ MB

In [16]:
df.isna().sum()

azganun               0
anun                  0
haeranun            278
or_amis_tari          0
marz                 24
hamaenq              24
bnakavaer       2042152
hasce               745
taracq                0
texamas               0
dtype: int64

In [18]:
df[df.duplicated()]

Empty DataFrame
Columns: [azganun, anun, haeranun, or_amis_tari, marz, hamaenq, bnakavaer, hasce, taracq, texamas]
Index: []

In [19]:
duplicate = df[df[["anun","azganun","haeranun","or_amis_tari"]].duplicated()]

In [20]:
duplicate

,azganun,anun,haeranun,or_amis_tari,marz,hamaenq,bnakavaer,hasce,taracq,texamas
45571,Միրոյան,Գյուլիզար,Սուտոյի,20/01/1939,ԿՈՏԱՅՔ,ՔԱՆԱՔԵՌԱՎԱՆ,None,18 Փ. 22,28,28/34
253259,Կարապետյան,Լալա,Ռազմիկի,25/03/1964,ԱՐԱԳԱԾՈՏՆ,ԿԱՐԲԻ,None,12 Փ. 2,17,17/14
539565,Խաչատրյան,Էրիկ,Արմենի,19/07/1998,ԵՐԵՎԱՆ,ՇԵՆԳԱՎԻԹ,None,Գ. Նժդեհի Փ. 27/2 27,8,8/16
559156,Հարությունյան,Մարիամ,Արսենի,16/08/1992,ԵՐԵՎԱՆ,ՇԵՆԳԱՎԻԹ,None,Չեխովի Փ. 29 48,8,8/26
578070,Սարգսյան,Տիգրան,Մհերի,16/12/1981,ԱՐԱՐԱՏ,ՈՍԿԵՏԱՓ,None,Ի. Հակոբյան Փ. 28,13,13/26
...,...,...,...,...,...,...,...,...,...,...
2532130,Հարությունյան,Կարինե,Կոլյայի,01/01/1959,ԼՈՌԻ,ՎԱՆԱՁՈՐ,None,Երեւանյան Խճղ. 90 218,23,23/03
2547003,Կարապետյան,Կարինե,Կարապետի,03/08/1960,ԼՈՌԻ,ՎԱՆԱՁՈՐ,None,Համբարձումյան Փ. 16 35,23,23/12
2547455,Մկրտումյան,Աննա,Սամվելի,20/09/1994,ԼՈՌԻ,ՎԱՆԱՁՈՐ,None,Համբարձումյան Փ. 13 143,23,23/12
2566916,Խաչատրյան,Դավիթ,Պավելի,07/01/1983,ԼՈՌԻ,ՎԱՆԱՁՈՐ,None,Նար-Դոսի Փ. 97,23,23/26
2568410,Խաչատրյան,Աննա,Սամվելի,02/02/1988,ԼՈՌԻ,ՎԱՆԱՁՈՐ,None,Սանկտ-Պետերբուրգի Փ. 5/1-1-16 Տնակ,23,23/27

In [22]:
duplicate["or_amis_tari"].nunique()

101

In [ ]:
#so, there is no person with the same first name, last name, and date of birth